body{
    background: white;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.principal{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

header{
    text-align: center; 
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: solid 2px black;
}

.logo{
    font-family: sans-serif;
    padding: 0px;
    margin-bottom: 0px;
}

.logo h1{
    padding: 0px;
    margin-bottom: 0px;
}

.logo h2{
    padding: 0px;
    margin-bottom: 0px;
}


#Menu-Principal  ul {
    list-style: none; /* Remoção bolinhas da lista de items */
    margin: 0; /* Tira a magem e o padding padrões que vem de fabrica no ul */
    padding: 0; /* Tira a magem e o padding padrões que vem de fabrica no ul */
    text-align: center;
}

#Menu-Principal  ul  li {
    font-family: sans-serif;
    display: inline-block; /* Faz com que os <li> apareçam lado a lado ao invez de um em baixo do outro */
    padding-right: 135px; /* Da um espaço de 10 pixels entre os li*/
    padding-left: 135px;
    
}

.rank{
    width: 220px;
    border: black 2px solid;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;   
}

.rank h1{
    padding: 10px;
    border-bottom: solid 2px black;
    font-family: sans-serif;
}
.rank p{
    font-family: sans-serif;
    margin-top: 20px;
    padding-top: 15px;
}

iframe{
    left: 220px;

}

main{
    border: black 2px solid;
    text-align: center;
    margin-left: 220px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    
}

footer{
    border-top: 2px solid black;
    text-align: center;
    text-align: center; 
    grid-column-start: 1;
    grid-column-end: 3;
}


.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}