body{
    background-color: rgb(255, 255, 255);
}

header h1{
    text-align: center;
    color: black;
    font-size: 100px;
    margin-top: -30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header h2{
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: -90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1pxpx;
}

#log h3{
    position: absolute;
    margin-top: -90px;
    left: 300px;
    font-size: 30px;
    color: blue;
}

#log h4{
    position: absolute;
    margin-top: -90px;
    left: 30px;
    font-size: 30px;
    color: blue;
}

#cadastro h3{
    position: absolute;
    margin-top: -85px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    left: 70%;
    color: blue;
}

#cadastro h4{
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-top: -85px;
    left: 90%;
    color: blue;
}

#rank h1{
    position: absolute;
    left: 25px;
    margin-top: 61px;
    border: 3px solid black;
    font-size: 100px;
    width: 259px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rank p {
    position: absolute;
    left: 25px;
    margin-top: 184px ;
    border: black solid 3px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


main {
    position: absolute;
    left: 290px;
    width: 1050px;
    height: 470px;
    text-align: center;
    
}  

iframe{
    position: absolute;
    margin-top: 5px;
    margin-bottom: 0px;
    left: 1px; 
    border: solid black 3px;  
}
footer{
    background-color: white;
    position: relative;
}

#rodape h4{
    text-align: center;
    margin-top: 492px;  
    padding-bottom: 1px;
    border-top: 2px solid black ;
}

#rodape h5{
    text-align: center;
    padding-top: 1px;
}

#rodape p{
    text-align: center;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}