body{
    background-color: rgb(255, 255, 255);
}

header h1{
    text-align: center;
    color: black;
    font-size: 100px;
    margin-top: -30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header h2{
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: -90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1pxpx;
}

#rank h1{
    position: absolute;
    left: 25px;
    margin-top: 61px;
    border: 3px solid black;
    font-size: 100px;
    width: 259px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rank p {
    position: absolute;
    left: 25px;
    margin-top: 184px ;
    border: black solid 3px;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#log h3{
    position: absolute;
    margin-top: -90px;
    left: 300px;
    font-size: 30px;
    color: blue;
}

#log h4{
    position: absolute;
    margin-top: -90px;
    left: 30px;
    font-size: 30px;
    color: blue;
}

iframe{
    position: absolute;
    margin-top: 5px;
    margin-bottom: 30px;
    left: 377px;
    border: solid black 3px;   
}

#cadastro h3{
    position: absolute;
    margin-top: -85px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    left: 70%;
    color: blue;
}

#cadastro h4{
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-top: -85px;
    left: 90%;
    color: blue;
}

#rodape h4{
    text-align: center;
    position: relative;
    margin-top: 492px; 
    border-top: 3px solid black; 
    padding-bottom: 1px;
}

#rodape h5{
    text-align: center;
    padding-top: 1px;
}

#rodape p{
    text-align: center;
}